
.AboutPage {
  display: grid;
  gap: var(--gap-lg);
  width: var(--container-width);
  height: var(--container-height);
  align-items: start;
  font-family: var(--font-family);
  overflow: hidden;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 1fr;
}

.about-img {
  height: var(--height-full);
  width: var(--width-full);
  overflow: hidden;
  border-radius: var(--radius-md);
  background-color:  var(--background-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: var(--radius-md);
  box-shadow: var(--card-shadow);
  overflow: hidden;
  object-position: top;
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color:  var(--background-dark);
  border-radius: var(--radius-md);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  width: 100%;

}
#a-d-f-c{
  padding-top: 1rem;
}

#a-d-l-c{
  padding-bottom: 1rem;
}

.about-item{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.about-item h3 {
  font-size: var(--font-size-normal);
  font-weight: 500;
  color: var(--primary-color);
}

.about-item p {
  font-size: var(--font-size-small);
  margin-bottom: 10px;
}

@media (max-width: 524px), (max-height: 524px)  {
  .AboutPage {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
} 
  