
.ProjectPage {
  width: var(--width-full);
  height: 78%;
  color: var(--font-color);
  font-family: var(--font-family);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: visible;
}

.glass-box {
  border-radius: var(--radius-md);
  width: 95%;
  height: var(--height-full);
  position: relative;
  display: flex;
  overflow-x: visible;
}

.project-list {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  position: relative;
  height: var(--height-full);
  width: var(--width-full);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-list::-webkit-scrollbar {
  display: none;
}

.project-item {
  width: 45.5%;
  height: 95%;
  background-color: var(--background-dark);
  border-radius: var(--radius-md);
  padding: var(--gap-md);
  flex-shrink: 0;
  transition: transform 0.3s;
  margin: 0px 1% 0px 1%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
}

.project-img {
  width: var(--width-full);
  height: 65%;
  object-fit:fill;
  object-position: center top;
  border-radius: var(--radius-md);
  margin-bottom: var(--gap-sm);
}

.project-content {
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  align-content: space-evenly;
}

.project-content h3{
  font-weight: 600;
  width: 100%;
  font-size: var(--font-size-normal);
}

.project-content a{
  font-weight: 500;
  text-decoration: none;
  width: auto;
}

label {
  display: flex;
  width: auto;
  font-weight: 400;
  font-size: var(--font-size-small);
}

.tech{
  width: auto;
  font-size: var(--font-size-small);
  color: var(--font-heading-color);
}
.detial{
  margin-top: var(--gap-sm);
  width: 100%;
  font-size: var(--font-size-small);
}

.project-link {
  display: inline-block;
  margin-top: var(--gap-sm);
  color: var(--primary-color);
  text-decoration: underline;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scaleY(2.3);
  background: transparent;
  color:white;
  border: none;
  font-size: calc(24px + 0.3vw);
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
}

.scroll-btn:hover {
  opacity: 1;
}

.scroll-left {
  left: -16px;
}

.scroll-right {
  right: -16px;
}

@media (max-width: 524px), (max-height: 524px) {

  .project-img {
    height: auto;
    object-fit:contain;
  }
  .scroll-btn {
    display: none;
  }

  .project-content {
    height: auto;
    width: 90%;
  } 

  
.project-item {
  width: 93%;
  height: auto;
  overflow: hidden;
  padding-bottom: 20px;
  margin: 1% 0px 1% 0px;
}

.project-list{
  flex-direction: column;
}
}