
.embla {
  overflow: hidden;
  height: var(--container-height);
  width: var(--container-width);
}

.certificates {
  display: flex;
  height: var(--height-full);
  width: var(--width-full);

}

.certificate {
  flex: 0 0 30%;
  background-color: var(--background-dark);
  border-radius: var(--radius-md);
  padding: var(--gap-md);
  margin: var(--gap-sm);
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  height: 93%;
  text-align: center;
}

.embla img {
  height: 50%;
  width: var(--width-full);
  border-radius: 10px;
}

.datials {
  height: 50%;
  width: var(--width-full);
  display: flex;
  flex-direction: column;
}

.datials h3 {
  font-size: var(--font-size-normal);
  font-weight: 500;
}

.datials p {
  font-size: var(--font-size-small);
  text-align: justify;
  margin: var(--gap-sm);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.closeBtn {
  position: absolute;
  margin: var(--gap-sm);
  height: 25px;
  width: 25px;
  color: var(--button-color);
  border-radius: 50%;
  background-color: var(--button-bg);
  border: var(--button-border);
  align-items: center;
  justify-content: center;
  display: none;
}
@media (max-width: 524px), (max-height: 524px) {
  .certificates {
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
.certificates::-webkit-scrollbar{
  display: none;
}

.certificate {
  flex:unset;
  max-height:40vh;
  min-height: auto;
  gap: 2px;
}

.embla img {
  object-fit: contain;
}
.datials{
 gap: 1px;
}
.datials p {
  -ms-overflow-style: unset;
  scrollbar-width: unset;
  overflow: hidden;
}
}

@media (max-height: 524px) {
  .certificate{
    max-height:50vh;
  }
}