
.SkillPage {
    height: var(--container-height);
    width: var(--container-width);
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-rows: 100% 100%;
    gap: var(--gap-lg);
}

.AboutSkill {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--radius-lg);
    background-color: var(--background-dark);
    text-align: center;
    overflow: hidden;
}

.AboutSkill h2 {
    width: var(--width-full);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-subHeading);
    font-weight: 600;
}

.skill-bar {
    max-width: 90%;
    min-width: auto;
    height: 40%;
    display: flex;
    overflow: hidden;
    margin-bottom: 2%;
}

.AboutSkill p {
    width: 90%;
    height: 40%;
    text-align: center;
    font-size: var(--font-size-normal);
    overflow: hidden;
    overflow-y:auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px ;
}

.MySkills ul {
    height: var(--height-full);
    width: var(--width-full);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gap-lg);
    height: 100%;
    width: 100%;
}

.MySkills ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-lg);
    background-color: var(--background-dark);
    height: var(--height-full);
    width: var(--width-full);
    gap: var(--gap-md);
    height: 100%;
    width: 100%;
}

.MySkills ul :hover{
    transform: scale(1.1);
}

.icon-con {
    height: 30%;
    width: auto;
}

.MySkills ul li h2 {
    font-size: var(--font-size-normal);
    height: auto;
    font-weight: 600;
}

@media (max-width: 524px), (max-height: 524px) {
.SkillPage {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 2fr;
}
.MySkills ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
}

@media (max-height: 524px) {

    .SkillPage {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .MySkills ul {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

}
