.ContactPage {
    height: var(--container-height);
    width: var(--container-width);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--section-gap);
  }
  
  .contactForm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-dark);
    border-radius: var(--form-radius);
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .contactForm h2{
    font-weight: 600;
  }
  
  .formBtn {
    width: 25%;
    height: 8%;
    font-weight: 600;
    border-radius: 20px;
    border: solid black 1px ;
    background-color:rgb(107, 114, 114);
    color: rgb(27, 27, 27);
  }
  .formBtn:hover{
    color: white;
    background-color: black;
    cursor: pointer;
  }
  .inputcon {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 18%;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .inputcon input {
    color: var(--input-text-color);
    width: 90%;
    height: 60%;
    border-radius: var(--input-radius);
    border: 1px solid var(--input-bg-color);
    padding-left: var(--input-padding);
    font-size: var(--font-size-small);
    outline: none;
    background-color:  rgba(219, 228, 228, 0.952);
    font-weight: 400;
  }
  
  .inputcon label {
    margin-bottom: 6px;
    width: 90%;
    font-size: var(--font-size-normal);
    font-weight: 400;
  }
  
  .message label {
    margin-bottom: 6px;
    width: 90%;
    font-size: var(--font-size-normal);
    font-weight: 400;
  }
  
  .ContactPage .message {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: unset;
    position: relative;
  }
  
  .message textarea {
    height: 75%;
    width: 90%;
    color: var(--input-text-color);
    display: flex;
    border-radius: var(--input-radius);
    border: 1px solid var(--input-bg-color);
    padding-left: var(--input-padding);
    padding-top: var(--input-padding);
    overflow: hidden;
    outline: none;
    font-size: var(--font-size-small);
    background-color:  rgba(219, 228, 228, 0.952);
    font-weight: 400;
  }
  
  .link {
    height: 100%;
    width: 100%;
    background-color: var(--background-dark);
    border-radius: var(--form-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .touch-link {
    width: 90%;
    height: 20%;
    display: flex;
    gap: var(--input-padding);
    align-items: center;
    justify-content: space-evenly;
  }
  
  .touch-link li {
    display: flex;
    background-color: var(--touch-icon-bg);
    height: var(--touch-icon-size);
    width: var(--touch-icon-width);
    border-radius: var(--touch-icon-radius);
    font-size: 200%;
    align-items: center;
    justify-content: center;
    
  }

  .touch-link :hover {
    transform:scale(1.05);
    transition: 0.3s  linear;
    transition-timing-function: 1;
  }

  .touch-link li a{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 70%;
    width: 90%;
  }

  .contact-details strong{
    font-size: var(--font-size-normal);
    font-weight: 500;
    color: var(--font-heading);
  }
  
  .show-link {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
    justify-content: space-evenly;
  }
  .show-link p ::-webkit-scrollbar{
  display: none;
  }
  
  .show-link li {
    display: flex;
    gap: var(--input-padding);
    align-items: center;
    height: auto;
    width: 100%;
    justify-content: space-between;

  }
  
  .show-link li p {
    display: flex;
    width: 80%;
    overflow: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: var(--font-size-normal);
    font-weight: unset;
  }

  .iconHover:hover{
    background-color: rgb(107, 114, 114);
    border-radius: 20px;
    cursor:pointer;
    padding: 5px;
  }
  @media (max-width: 524px), (max-height: 524px) {
    .ContactPage {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }  