.BiodataPage {
    height: var(--container-height);
    width: var(--container-width);
    overflow: hidden;
    display: flex;
    gap: var(--gap-lg);
  }
  
  .personal-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--gap-lg);
    height: 100%;
    flex-basis: 50%;
    overflow: hidden;
  }
  
  .personal-details .image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    border-radius: var(--radius-md);
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
  }
  
  .personal-details .image img {
    height: 92%;
    width: 90%;
    object-fit: cover;
    object-position: top;
    border-radius: var(--radius-md);
    overflow: hidden;
  }
  
  .self-details {
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: var(--background-dark);
  }
  
  .self-details p {
    width: 90%;
    display: flex;
    font-size: var(--font-size-small);
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .self-details p label {
    width: 40%;
    color: var(--font-heading-color);
    font-weight: 400;
  }
  
  .my-location {
    background-color: var(--background-dark);
    border-radius: var(--radius-md);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 2/3;
    overflow: hidden;
  }
  
  .my-location li {
    width: 50%;
    padding: unset;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: var(--font-size-small);
  }
  
  .my-location li label {
    width: 45%;
    color: var(--font-heading-color);
    font-weight: 400;
  }

  .my-location li strong{
    color: var(--font-heading-color);
    font-weight: 500;
    line-height: 100%;
  }
  
  .my-location li:first-child {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-full-dark);
    border-radius: var(--radius-md);
    text-align: center;
    gap: 5px;
  }
  
  .education-details {
    display: flex;
    height: 100%;
    flex-basis: 50%;
    background-color: var(--background-dark);
    border-radius: var(--radius-md);
    gap: var(--gap-md);
    align-items: center;
    justify-content: center;
  }
  
  .education-ul {
    height: 90%;
    width: 90%;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .edu-detail {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 15px;
  }
  
  .education-ul li::before {
    position: absolute;
    content: "";
    height: 100%;
    width: var(--timeline-line-width);
    background-color: white;
    border-radius: 60px 60px 0px 0px;
    left: 5.5px;
    top: 5px;
  }

  .education-ul li::after {
    position: absolute;
    content: "";
    background-color: white;
    left: 0px;
    top: 5px;
    height: var(--timeline-dot-size);
    width: var(--timeline-dot-size);
    border-radius: 50px;
  }
  
  .education-ul li {
    height: auto;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .education-ul li:last-child::before {
    display: none;
  }
  
  .edu-detail h3{
    color: var(--font-heading-color);
    font-weight: 500;
  }

  .edu-detail h4{
    color: var(--font-heading-color);
    font-weight: 400;
    padding-left: 10px;
  }
  .edu-detail p {
    padding-left: 10px;
    font-size: var(--font-size-small);
  }
  
  @media (max-width: 524px), (max-height: 524px) {
    .BiodataPage {
      flex-direction: column;
    }
  }
  